<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>./personal-page</title>

    <link rel="stylesheet" href="/personalpage.css" />
  </head>

  <header>
    <div id="user-name"></div>
    <h1><%= id %></h1>
  </header>

  <body>
    <!-- partial:index.partial.html -->

    <div class="label-container">
      <div class="label-name">
        <h2></h2>
      </div>
    </div>

    <!-- partial -->
  </body>
  <script src="/scripts/personalPage.js"></script>
</html>
